.item-list-container {
  width: calc(100% - 2rem);
  margin: 1rem auto;
  padding: 2rem;
  background-color: #1c1c1c; 
  color: #f5f5f5; 
  border: 2px solid #8367c6; 
  border-radius: 1rem;
  text-align: center;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 0.75rem; 
  justify-content: center;
  padding: 1rem;
}

@media (max-width: 768px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .product-list {
    grid-template-columns: 1fr; 
  }
}
