.product-card {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #2a2a2a;
    color: white;
  }
  
  .product-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
  }
  
  .product-details-button {
    background-color: #6132d0;
    color: whitesmoke;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .product-details-button:hover {
    background-color: #8367c6;
  }
  
  .product-details-button a {
    text-decoration: none;
    color: white;
  }
  